services:
  - type: web
    name: newhopefd-app
    env: node
    plan: starter
    buildCommand: 'npm install && npm run build'
    startCommand: 'node build'
    envVars:
      - key: NODE_VERSION
        value: 22
      - key: DATABASE_URL
        value: 'file:/var/data/newhopefd.db'
    disk:
      name: data
      mountPath: /var/data
      sizeGB: 1
