services:
  - type: web
    name: newhopefd-app
    runtime: node
    plan: starter
    region: oregon

    buildCommand: |
      npm install
      npm run build

    startCommand: node build

    envVars:
      - key: NODE_VERSION
        value: '22'

    disk:
      name: newhopefd-data
      mountPath: /var/data
      sizeGB: 1
