services:
  - type: web
    name: newhopefd-app
    env: node
    plan: starter
    region: oregon

    buildCommand: |
      npm install
      npm run build

    startCommand: node build

    nodeVersion: 22

    disk:
      name: newhopefd-data
      mountPath: /var/data
      sizeGB: 1
